
.search-bar {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 10px; 
  padding: 15px; 
  width: 200px; 
  height: 50px;
}

.search-icon {
  margin-right: 15px; 
  color: #888; 
}

.search-input {
  flex: 1;
  padding: 12px;
  font-size: 18px; 
  border: black;
  outline: none;
  background: none;
}


.header {
  background-color: #3498db; 
  color: #ffffff; 
  padding: 10px; 
}

/* Body styles */
.body {
  background-color: #ecf0f1; 
  color: #333333; 
  padding: 20px; 
}

/* Your existing styles */
.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}
